/x64/
/NavilIME/x64/
/.vs/
/Win32/
/NavilIME/Win32/
/navilIME_uninstaller/.vs
/navilIME_uninstaller/navilIME_uninstaller/obj
/navilIME_uninstaller/navilIME_uninstaller/bin
/navilIME_uninstaller/DllFinder/obj
/navilIME_uninstaller/DllFinder/bin
/navilIME_control/navilIME_control/bin
/navilIME_control/navilIME_control/obj
/navilIME_control/.vs